body {
  font-family: "Poppins";
}
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;800&family=Inter:wght@200;300;500&family=Poppins:wght@400;500;600;700&family=Titillium+Web&display=swap");
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
